@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  font-size: 10px;
  --dashboard-bg-color: rgb(74, 158, 231);
  --card-side-color: rgb(237, 153, 0);
  --main-content-bg: rgb(220, 220, 220);
}

body {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  display: grid;
  grid-template: 1fr 4fr / 1fr 4fr;
}

.dashboard {
  background-color: var(--dashboard-bg-color);
  color: white;
  grid-area: 1 / 1 / 3 / 2;
  font-size: 1.5rem;
  font-weight: 800;
  padding: 2rem 0rem 10rem 1rem;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  gap: 3rem;
}

.header {
  background-color: white;
  grid-area: 1 / 2 / 2 / 3;
}

.main-content {
  background-color: var(--main-content-bg);
  grid-area: 2 / 2 / 3 /3;
}

.dashboard-button img {
  width: 4rem;
  justify-self: center;
}

.main-buttons img,
.settings-buttons img {
  width: 2rem;
  justify-self: center;
}

.dashboard-button {
  font-size: 2rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  place-items: start;
}

.main-buttons,
.settings-buttons {
  display: grid;
}

.main-buttons > div,
.settings-buttons > div {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  place-items: start;
}

.dashboard-button > div {
  padding-top: 0.8rem;
}
