@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  font-size: 10px;
  margin: 0px;
  padding: 0px;
  --dashboard-bg-color: rgb(74, 158, 231);
  --card-side-color: rgb(237, 153, 0);
  --main-content-bg: rgb(230, 230, 230);
}

body {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  display: grid;
  grid-template: 1fr 4fr / 1fr 4fr;
}

.dashboard {
  background-color: var(--dashboard-bg-color);
  color: white;
  grid-area: 1 / 1 / 3 / 2;
  font-size: 1.5rem;
  font-weight: 800;
  padding: 2rem 0rem 10rem 1rem;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  gap: 3rem;
  min-width: 18rem;
}

.header {
  background-color: white;
  grid-area: 1 / 2 / 2 / 3;
}

.main-content {
  background-color: var(--main-content-bg);
  grid-area: 2 / 2 / 3 /3;
  padding: 2rem;
}

.dashboard-button img {
  width: 4rem;
  justify-self: center;
}

.main-buttons img,
.settings-buttons img {
  width: 2rem;
  justify-self: center;
}

.dashboard-button {
  font-size: 2rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  place-items: start;
}

.main-buttons,
.settings-buttons {
  display: grid;
}

.main-buttons > div,
.settings-buttons > div {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  place-items: start;
}

.dashboard-button > div {
  padding-top: 0.8rem;
}

.search > img {
  width: 2rem;
  place-self: center;
}

.bell {
  width: 2rem;
}

.avatar {
  width: 3rem;
}

.profile-manage > p {
  font-size: 1rem;
  font-weight: bold;
}

.greeting {
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-self: start;
  align-content: start;
  justify-items: start;
  row-gap: 1rem;
}

.greeting > img {
  width: 6rem;
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  align-self: center;
}

.greeting > p:nth-child(2) {
  font-size: 1rem;
  font-weight: bold;
  align-self: end;
}

.greeting > p:nth-child(3) {
  font-size: 2rem;
  font-weight: bold;
  align-self: start;
}

.header {
  display: grid;
  grid-template: 3rem 1fr / 3fr 1fr;
  align-items: end;
  justify-items: end;
  padding: 2rem 5rem;
}

.search {
  grid-area: 1 / 1 / 2 / 2;
  place-self: start;
  place-items: center;

  display: grid;
  grid-template-columns: 2rem 1fr;
  gap: 1rem;
}

.search > input {
  background-color: var(--main-content-bg);
  border-radius: 3rem;
  width: 50vw;
}

.profile-manage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  justify-self: end;
  align-self: start;
}

.process-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
}

.process-buttons > button {
  width: 7vw;
  height: 3vh;
  background-color: var(--dashboard-bg-color);
  border: none;
  border-radius: 3rem;
}

.card-buttons {
  width: 1.5%;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.card {
  background-color: white;
  border-radius: 1rem;
  border: solid;
  border-color: white white white var(--card-side-color);
  border-left-width: 1rem;
}

.cards-header {
  font-size: 2rem;
}
